<section>
  <div class="cipher-text-container">
    <form #form="ngForm" [formGroup]="fgCipher" (ngSubmit)="process()">
      <div class="input-container">
        <mat-form-field appearance="fill">
          <mat-label>Texto a cifrar</mat-label>
          <textarea
            matInput
            placeholder="Texto a cifrar"
            formControlName="text"
          ></textarea>
          <mat-error>Se requiere un texto.</mat-error>
        </mat-form-field>
      </div>
      <div class="submit-container">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="fgCipher.invalid"
        >
          Encriptar
        </button>
      </div>
      <div class="result-container">
        <mat-form-field appearance="fill">
          <mat-label>Texto cifrado</mat-label>
          <textarea matInput placeholder="Cifrar texto" disabled>{{ciphertext}}</textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</section>
