.cipher-text-container {
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    padding: 6% 0 3% 0;
    text-align: center;

    .input-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      mat-form-field {
        width: 60%;
      }
    }

    .result-container {
      width: 100%;

      mat-form-field {
        width: 60%;
      }

      .button-container {
        min-height: 3rem;
        display: block;
        margin: auto;

        button {
          font-size: 2rem;
          height: 3rem;
        }
      }
    }

    .submit-container {
      width: 100%;
      padding-top: 16px;

      button {
        font-size: 2rem;
        height: 3rem;
      }
    }
  }
}
