<section>
  <div class="cipher-image-container">
    <form [formGroup]="fgCipher" (ngSubmit)="process()">
      <div class="input-container">
        <input
          #image
          type="file"
          accept=".png"
          (change)="onFileChange($event)"
          formControlName="image"
        />
        <div class="button-container">
          <button
            type="button"
            for="image"
            mat-raised-button
            color="accent"
            (click)="image.click()"
          >
            Cargar imagen
          </button>
          <span class="validation mat-caption">*Solo se admite formato PNG</span>
        </div>
      </div>
      <div class="preview-container">
        <div class="image-container">
          <img [src]="url" />
        </div>
        <div *ngIf="url != DEFAULT_IMAGE_PREVIEW" class="actions-container">
          <button
            type="button"
            mat-mini-fab
            color="accent"
            aria-label="Edit button"
            (click)="image.click()"
          >
            <mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon>
          </button>
          <button
            type="button"
            mat-mini-fab
            color="accent"
            aria-label="Delete button"
            (click)="delete()"
          >
            <mat-icon aria-hidden="false" aria-label="Delete icon"
              >delete</mat-icon
            >
          </button>
          <button
            type="button"
            *ngIf="blob"
            mat-mini-fab
            color="accent"
            aria-label="Download button"
            (click)="download()"
          >
            <mat-icon aria-hidden="false" aria-label="File download icon"
              >file_download</mat-icon
            >
          </button>
        </div>
      </div>
      <div class="submit-container">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="!file"
        >
          Encriptar
        </button>
      </div>
    </form>
  </div>
</section>
