<section>
  <div class="cipher-image-container">
    <form [formGroup]="fgCipher" (ngSubmit)="process()">
      <div class="input-container">
        <input
          #image
          type="file"
          (change)="onFileChange($event)"
          formControlName="image"
        />

        <button
          type="button"
          for="image"
          mat-raised-button
          color="accent"
          (click)="image.click()"
        >
          Upload image
        </button>
      </div>
      <div class="preview-container">
        <div class="image-container">
          <img [src]="url" />
        </div>
        <div *ngIf="url != DEFAULT_IMAGE_PREVIEW" class="actions-container">
          <button
            mat-mini-fab
            color="accent"
            aria-label="Edit button"
            (click)="image.click()"
          >
            <mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="accent"
            aria-label="Delete button"
            (click)="delete()"
          >
            <mat-icon aria-hidden="false" aria-label="Delete icon"
              >delete</mat-icon
            >
          </button>
        </div>
      </div>
      <div class="submit-container">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="fgCipher.invalid"
        >
          Process
        </button>
      </div>
    </form>
  </div>
</section>
